// ==========================================================================
// #Settings Widget
// ==========================================================================

.settings-widget {
    position: fixed;
    top: 115px;
    right: 0;
    width: 64px;
    background: rgba(0,0,0,.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
}