// ==========================================================================
// # Buttons
// ==========================================================================

.btn {
    padding: 0;

    &--clean {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}