// ==========================================================================
// #Base
// ==========================================================================

*, *:before, *:after {
	box-sizing: border-box;

    & {
        outline: 0!important;
    }
}

html, body {
    height: 100%;
    font-size: 14px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}