// ==========================================================================
// # Header
// ==========================================================================

.header {
    @include fixed(top 0 right 0 left 0);
    height: 64px;
    transition: all linear .25s;
    @include breakpoint-up(md) {
        left: 280px;
    }
    
    &--active {
        left: 64px;
    }

    &__outer {
        background-color: #303030;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        display: flex;
    }
    
    &__search-container {
        @include absolute(top 0 right 0 bottom 0 left 0);
        font-size: 13px;

        display: flex;
        display: none;
    
        min-width: 64px;
        height: 64px;
    
        background-color: #303030;
        color: #6d6d6d;
        
        flex: 0 1 auto;
        &.is-active {
            display: block;
        }
    }

    &__search-btn {
        background-color: transparent;
        border: none;
    }

    &__search-input {
        font-size: 16px;
        height: 64px;
        padding: 0 32px;
        border: 0;
        background-color: transparent;
        flex: 1 0 auto;
    }

    &__search-bar-content {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-start;
    }

    &__search-close-btn {
        display: flex;
        display: inline-block;
        line-height: 64px;
        width: 64px;
        height: 64px;
        margin: 0;
        padding: 0 20px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    &__search-close-icon {
        background: rgba(255,255,255,.7);
        width: 16px!important;
        height: 64px;  
        flex-shrink: 0;
        background-color: transparent;
    }

    &__item-list {
        display: flex;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        min-width: 64px;
        height: 64px;
        max-height: 100%;
        padding: 0 16px;
        cursor: pointer;
        color: rgba(255,255,255,.7);
        place-content: center;
        align-items: center;

        &--has-submenu {
            display: none;
        }

        &--special {
            border-left: 1px solid rgba(255,255,255,.12);
            &:hover {
                background: #383838;
    
            }
            &:first-child {
                border-left: none;
                border-right: 1px solid rgba(255,255,255,.12);
            }
        }

        &--pull-right {
            margin-left: auto;
        }
    }

    &__toggle-view-btn {
        background: none;
        border: none;
        color: white;

        @include breakpoint-up(md) {
            display: none;
        }
    }
 
    &__user-avatar {
        font-size: 17px;
        line-height: 40px;
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin: 0 8px 0 0;
        text-align: center;
        border-radius: 50%;
    }

    &__user-name {
        font-size: 14px;
        font-weight: 600;
        display: none;
        margin-right: 12px;
        color: white;
        @include breakpoint-up(md) {
            display: block;
        }
    }

    
}