// ==========================================================================
// #Main Footer
// ==========================================================================
%main-container {
    padding: 24px 34px 64px;
}
 
.main-container {
    @extend %main-container;
    // margin-top: 64px;
    &--github {
        @extend %main-container;
        background: white;
        margin-top: 54px;
    }
}