// ==========================================================================
// #Main Header
// ==========================================================================

.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    transition: all linear .25s;
    @include breakpoint-up(md) {
        left: 280px;
    }
    
    &.is-toggle {
        left: 64px;
    }
    
    &__search-bar-wrap {
        @include absolute(top 0 right 0 bottom 0 left 0);
        display: flex;
        flex: 0 1 auto;
        min-width: 64px;
        height: 64px;
        font-size: 13px;
        background: white;
        display: none;
        &.is-expanded {
            display: block;
        }
    }

    &__search-bar-wrap-inner {
       
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-start;
    }

    &__search-bar {
        
        padding: 0 32px;
        flex: 1 0 auto;
        flex: 1 0 auto;
        min-height: 64px;
        font-size: 16px;
    }

    &__search-bar-content {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-start;
    }


    &__search-bar-close {
        
        width: 64px!important;
        height: 64px;
            display: flex;
    }

    &__sidebar-toggle-mobile {
        background: none;
        border: none;
        color: white;

        @include breakpoint-up(md) {
            display: none!important;
        }

    }

    &__outer {
        background-color: #303030;
        border-bottom: 1px solid rgba(0,0,0,.1);
        display: flex;
    }

    &__left {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        flex: 1 0 auto;
    }

    &__right {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        flex: 0 1 auto;
    }

    &__item {
        cursor: pointer;
        height: 64px;
        min-width: 64px;
        color: rgba(255,255,255,.7);
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        place-content: center;
        align-items: center;
        padding: 0 16px;
        border-left: 1px solid rgba(255,255,255,.12);
        &:hover {
            background: #383838;

        }
    }

    &__user-avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 8px 0 0;
        border-radius: 50%;
        font-size: 17px;
        text-align: center;
    }

    &__user-name {
        margin-right: 12px;
        font-size: 14px;
        color: white;
        font-weight: 600;
        display: none;
        @include breakpoint-up(md) {
            display: block;
        }
    }

    
}