// ==========================================================================
// #Main Wrapper
// ==========================================================================


.main-panel {
    position: relative;
    background-color: #f7f7f8;
    transition: all linear .25s;
    overflow: hidden;
    height: 100vh; 
    flex: 1;
    margin-left: 260px;
}

.main-wrapper {
    display: flex;   
}