// ==========================================================================
// #Main Footer
// ==========================================================================

.main-footer {
    background-color: #fff;
    text-align: center;
    padding: 7px 32px;
    font-size: 12px;
    

    // @include media-breakpoint-up(lg) {
        @include absolute(right 0 bottom 0 left 0);
        border-top: 1px solid #e7e7e7;
    // }

    &__outer {
        display: flex;
        align-items: center;
        display: flex;
        height: 50px;
    }

    &__links {
        margin: 0;
        list-style: none;
        padding: 0;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        padding: 20px 25px 20px 0;
    }

    &__copyright {  
        margin-left: auto;
    }


}