// ==========================================================================
// #Main Header
// ==========================================================================

.main-header {

    height: 64px;
    background-color: hsla(0,0%,100%,.96);
    border-bottom: 1px solid rgba(0,0,0,.1);
}