.main-content {
    position: relative;
    background-color: grey;
    // transition-property: transform,width,min-width,max-width,-webkit-transform;
    // transition-duration: 150ms;
    // transition-timing-function: ease-in-out;
    overflow: hidden;

    // @include media-breakpoint-up(lg) {
        flex: 1;
        margin-left: 264px;

        &.is-toggle {
           
            // max-width: 100%;
            // width: 100%;
            margin-left: 64px;
            flex: 1;
        }
    // }
}

.main-content--github {
    background: white;
    margin-top: 54px;
}