// ==========================================================================
// #Main Header
// ==========================================================================

.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 280px;
    height: 64px;
    background-color: #303030;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;

    &__left {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        flex: 1 0 auto;
    }

    &__right {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        flex: 0 1 auto;
    }

    &__item {
        cursor: pointer;
        height: 64px;
        min-width: 64px;
        color: rgba(255,255,255,.7);
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        place-content: center;
        align-items: center;
        padding: 0 16px;
        border-left: 1px solid rgba(255,255,255,.12);
        &:hover {
            background: #383838;

        }
    }

    &__user-avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 8px 0 0;
        border-radius: 50%;
        font-size: 17px;
        text-align: center;
    }

    &__user-name {
        margin-right: 12px;
        font-size: 14px;
        color: white;
        font-weight: 600;
    }

    
}