// ==========================================================================
// #Main Nav
// ==========================================================================


.main-nav {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &__item {
        position: relative;
        display: block;
    }

    &__link {
        color: #fff;
        opacity: 1;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px 15px 0;
        border-radius: 4px;
        position: relative;
        display: block;
        transition: background .15s ease-in;
        padding: 10px 15px;
        &:hover {
            background: hsla(0,0%,100%,.23);
        }

        &--active {
            background: hsla(0,0%,100%,.23);
        }
    }

    &__icon {
        font-size: 28px;
        float: left;
        margin-right: 15px;
        line-height: 30px;
        width: 30px;
        text-align: center;
    }

    &__text {
        margin: 0;
        line-height: 30px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        position: relative;
        color: #fff;
        display: block;
        height: auto;
        opacity: 1;
    }
}