// ==========================================================================
// #Main Nav
// ==========================================================================
// nav-link-title

.main-nav {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;

    &__heading {
        text-transform: uppercase;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        height: 48px;
        font-weight: 600;
        padding-left: 24px;
        margin-top: 8px;
        font-size: 12px;
        white-space: nowrap;
    }

    &__item {
        position: relative;
        display: block;

        &.open {
            background: rgba(0,0,0,.12);
        }
    }

    &__link {
        height: 40px;
        padding: 0 12px 0 24px;
        border-radius: 0 20px 20px 0;
        margin-right: 16px;
        text-decoration: none!important;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        
        &:hover {
            background: hsla(0,0%,100%,.23);
        }

        &--active {
            background: #e91e63;
        }
    }

    &__icon {
        margin-right: 16px;
        color: white;
    }

    &__text {
        flex: 1 1 auto;
        white-space: nowrap;
        color: white;
    }

    &__icon-arrow {
        color: white;
    }

    &__sub-list {
        margin: 0;
        padding: 0;
        list-style: none;
        
        & li {
            padding-left: 56px;
        }

        & a {
            color: white;
            height: 40px;
    padding: 0 12px 0 24px;
    border-radius: 0 20px 20px 0;
    margin-right: 16px;
        }
    }

}