// ==========================================================================
// # Sidebar
// ==========================================================================

.sidebar {
    width: 280px;
    @include fixed(top 0 bottom 0 left 0);
    background-color: #14171c;
    color: #fff!important;
    transition-property: transform,width,min-width,max-width,-webkit-transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    z-index: 10;
   
    @include breakpoint-down(md) {
        transform: translatex(-100%);
    }

    // Header
    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-text {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1em;
    }

    &__logo-brand {
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
        align-items: center;
        justify-content: space-between;

        position: relative;
        z-index: 4;

        height: 64px;
        min-height: 64px;
        max-height: 64px;
        padding: 12px 12px 12px 20px;

        border-bottom: 1px solid hsla(0,0%,100%,.2);
        background: #1e2129;

        img {
            height: 100%;
        }
    }

    &__logo-icon {
        font-size: 22px;
        margin-right: 8px;
    }

    &__toggle-sidebar {
        background: none;
        border: none;
        transition-property: transform,width,min-width,max-width,-webkit-transform;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }

    &__wrapper {
        position: relative;
        height: calc(100vh - 64px);
        overflow: auto;
        z-index: 4;
        padding-bottom: 30px;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
            background-color: rgba(0,0,0,0);
        }

        &::-webkit-scrollbar-thumb {
            border: 2px solid transparent;
            box-shadow: inset 0 0 0 12px rgba(0,0,0,.37);
            border-radius: 12px;
        }
    }

    &.is-folded {
        width: 64px;
        
        .nav-group-heading span {
            display: none;
        }

        .nav-group-heading:before {
            content: '';
            display: block;
            position: absolute;
            min-width: 1.6rem;
            border-top: 2px solid;
            opacity: .2;
        }

        .nav-sub-list {
            display: none;
            height: 0px;
        }

        .sidebar__wrapper {
            overflow: hidden;
        }


        .sidebar__toggle-sidebar {
            display: none;
        }

        .sidebar__logo-text {
            display: none;
        }

        .nav-link-title {
            opacity: 0;
            transition: opacity .2s ease;
        }

        .nav-link {
            border-radius: 20px;
            margin: 0 12px;
            padding: 0 12px;
        }

       

        &:hover {
            width: 280px;

            .nav-group-heading span {
                display: block
            }
    
            .nav-group-heading:before {

                display: none;
            }

            .nav-sub-list {
                display: none;
                height: 0px;

            }

            .sidebar__wrapper {
                overflow: auto;
            }

            .nav-link {
                padding: 0 12px 0 24px;
                border-radius: 0 20px 20px 0;
                margin: 0 16px 0 0;
            }
            .nav-sub-list .nav-link {
                padding-left: 56px;
            }

            .sidebar__toggle-sidebar { 
                display: block;
            }

            .sidebar__logo-text {
                display: block;
            }

            .nav-link-title {
                opacity: 1;
                transition: opacity .2s ease;
            }
        }
    }

  

  

    
    

 
}