// ==========================================================================
// #Main Footer
// ==========================================================================

.main-container {
    position: relative;
    background-color: #f7f7f8;
    transition: all linear .25s;
    overflow: hidden;

    //@include media-breakpoint-up(lg) {
         
        margin-left: 264px;

        //&--is-active {
            transition: all linear .25s;
            max-width: 100%;
            width: 100%;
            flex: 1;
        //}
    //}
}