// ==========================================================================
// # Z-index
// ==========================================================================

// Header, Sidebar (navigation), footer, modal

$z-index: (
    modal              : 200,
    navigation         : 100,
    footer             : 90,
    triangle           : 60,
    navigation-rainbow : 50,
    share-type         : 41,
    share              : 40,
);

// Usage: @include z-index(navigation);