// ==========================================================================
// #Mixins
// ==========================================================================
//
//  Table of Content
//  
//  - Media Query
//  - Position Dynamic
//
//
//

// #Mixins: Media Query
// ==========================================================================

    //Mixin: Media Query
    @mixin media-query($name) {

        @if not map-has-key($breakpoints, $name) {
            @warn "Warning: `#{$name}` is not a valid breakpoint name.";
        } @else {
            @media (min-width: map-get($breakpoints, $name)) {
                @content;
                }
            }
    
      }

// #Mixins: Position Dynamic
// ==========================================================================
@mixin position($position, $args: ()) {
    $offsets: top right bottom left;
    position: $position;

    @each $offset in $offsets {

        $index: index($args, $offset);

        @if $index {

            @if $index == length($args) {
                #{$offset}: 0;
            }

            @else {
                $next: nth($args, $index + 1);

                @if is-valid-length($next) {
                    #{$offset}: $next;
                }

                @else if index($offsets, $next) {
                    #{$offset}: 0;
                }

                @else {
                    @warn 'Invalid value `#{$next}` for offset `#{$offset}`.';
                }
            }
        }
    }
}

@mixin absolute($args: ()) {
    @include position(absolute, $args);
}

@mixin fixed($args: ()) {
    @include position(fixed, $args);
}

@mixin relative($args: ()) {
    @include position(relative, $args);
}