// ==========================================================================
// #GitHub User Profile
// ==========================================================================

.github-user-profile {
    display: flex;
    &__details {
        width: 25%;
    }

    &__main-view {
        width: 75%;
        padding: 0 24px 32px;
    }

}