// ==========================================================================
// # Calendar
// ==========================================================================


.cal {

    &__header {
        height: 164px;
        min-height: 164px;
        max-height: 164px;
        position: relative;
        background-size: 100% auto;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: rgba(0,0,0,.45);
        }
        
        @include breakpoint-up(sm) {
            height: 200px;
            min-height: 200px;
            max-height: 200px;
        }
    }

    &__header-banner {
        @include absolute(top 0 right 0 bottom 0 left 0);
        background-size: cover;
        transition: 0.25s linear;
        background-position: center center;
    }

    &__header-container {
        padding: 24px;    flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: stretch space-between;
        align-items: stretch;
        height: 100%;
        z-index: 2;
        position: relative;
    }

    &__header-top {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        position: relative;

        @include breakpoint-up(sm) {
            flex-direction: row;
        }
    }

    &__header-bottom {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
        position: relative;
        color: white;
    }

    &__page-info {
        color: white;
        font-size: 24px;
        margin-bottom: 16px;
    }

    &__tool-btn {
        height: 40px;
        width: 40px;
        font-size: 18px;
        color: white;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
    }

    &__current-month {
        font-size: 20px;
        min-width: 160px;
        text-align: center;
        font-weight: 600;
    }

    &__pagination-arrow {
        background: none;
        border: none;
        font-size: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        line-height: 24px;
        padding: 0 16px;
        font-size: 20px;
    }


    // Calendar Month

    &__month-screen {
        border: 1px solid #e1e1e1;
        border-bottom: 0;
    }

    &__month-view {
        padding: 24px;
    }

    &__month-days {
        border: 1px solid #e1e1e1;
    }

    &__cell {
        float: left;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__week-row {
        display: flex;
        text-align: center;
    }

    &__cell-weekday {
        padding: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        font-weight: 600;
        color: #434343;
        font-family: arial;
    }

    &__cell-row {
        display: flex;
        border-bottom: 1px solid #e1e1e1;

        &:hover {
            background: rgba(0,0,0,.04);
        }
    }

    &__cell-day {
        min-height: 100px;
        &:not(:last-child){
            border-right: 1px solid #e1e1e1;
        }
        @include breakpoint-up(sm) {
            min-height: 150px;
        }

        &.is-selected {
            box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
        }

        &.is-today {
            background-color: #e8fde7;
            font-size: 1.4em;
        }

        &.is-other-month > div{
            opacity: .3;
        }

        &.has-events {
            cursor: pointer;
        }

        &:hover {
            background-color: rgba(0,0,0,.04);
        }
    }

    &__cell-top {
        flex: 1;
        min-height: 78px;
    }

    &__cell-bottom {
        flex: 1;
        align-items: flex-end;
        margin: 3px;
        line-height: 10px;
        display: flex;
        flex-wrap: wrap;;
    }

    &__event-day-count {
        background: $primary-color;
        color: #fff;
        margin: 18px 0 0 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 700;
        display: inline-block;
        min-width: 10px;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10px;
    }

    &__event-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;
        background: $primary-color;
    }

    &__day-number {
        font-size: 1.2em;
        font-weight: 400;
        opacity: .5;
        margin-top: 15px;
        margin-right: 15px;
        float: right;
        margin-bottom: 10px;
    }

    &__dayEvents {    
        display: none;
        height: 0;
        overflow: hidden;
        transition: height 350ms ease-in-out;
    
        background: $primary-color;
        display: flex;
        box-shadow: inset 0 0 2px 0 rgba(0,0,0,.54);
        padding: 0;
        display: flex;
        flex-direction: column;

        &.is-visible {
            display: block;
	        height: auto;
        }
    }

    &__dayEvent-color {
        background-color: $primary-color;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;
        background-color: $primary-color;
        border-color: #d1e8ff;
        color: #fff;
    }

    &__dayEvent {
        padding: 0 16px;
        margin: 8px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        transition: box-shadow .3s ease;
        background: #fff;

        &:first-of-type {
            margin-top: 16px;
        }
        
        &:last-of-type {
            margin-bottom: 16px;
        }
    }

    &__dayEvent-title {
        flex: 1;
        display: block;
        padding: 21px 24px;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
    }

    &__dayEvent-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__dayEvent-actionSvg {
        border-bottom: 1px solid transparent;
        padding-bottom: 2px;
        height: 16px !important;
        width: 16px !important;
    }

    &__dayEvent-action {
        display: block;
        line-height: 1;
        padding: 8px;
        &:hover .cal__dayEvent-actionSvg {
            border-bottom: 1px solid $primary-color;
            padding-bottom: 2px;
        }
    }

    &__create-event {
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        right: 18px;
        bottom: -26px;
        z-index: 10;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        color: rgba(0,0,0,.87);
        width: 56px;
        height: 56px;
        white-space: nowrap;
        user-select: none;
        cursor: pointer;
        outline: 0;
        border: none;

    }

}